body {
  background-color: black;
  color: white;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

main {
  width: 40%;
  margin: 10em auto 0 auto;
}

header {
  background-color: rgb(87, 87, 87);
  margin: 0;
  padding: 1em;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
}

header img {
  width: 2em;
  height: 2em;
  margin: 0 1em 0 .5em;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0 0 .5em 0;
  padding: 1em;
  background-color: rgb(87, 87, 87);
}

li {
  margin: .3em;
}

a{
  text-decoration: none;
  padding: 1em;
  background-color: orangered;
  width: 5em;
  display: inline-block;
  color:white;
  font-size: 1.1em;
}

a:hover{
  background-color: rgb(255, 88, 28);
}

a:visited {
  color: white;
}

section {
  display:none;
}

section.active {
 display: block;
}

.loader {
  display: block;
}

.invisible {
  display: none;
}

.lds-ring {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
