:root {
  --dark: #000;
  --course: #00B0FC;
  --light: #fff;
}
body {
  background-color: var(--dark);
  color: var(--light);
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
}
main {
  max-width: 860px;
  margin: 10vh auto;
  padding:0 2rem;
}
header {
  background: var(--course);
  color: var(--dark);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 7vw;
}
h2 {
  font-size: 2em;
  margin-top: 1.5em;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 -1rem;
}
ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
ul img {
  border: 2px solid var(--light);
  margin-top: 2em;
  margin-bottom: 2em;
}
img {
  max-width: 100%;
}
.button {
  background: var(--light);
  color: var(--dark);
  padding: 1em;
}

.examples img {
  max-width: 25vh;
}

a {
  display: block;
}

a,
a:visited {
  color: var(--course);
}

footer {
  font-style: italic;
}

section {
  display:none;
}

section.active {
 display: block;
}

.giphyImage{
  width: 100px;
  height: 100px;
}